doctype html
head
  title Homepage
  style.
          body {
              font-size: 17px;
              text-align:center;
          }
h1 Welcome to the homepage
  div
    a(href='/calculator') Go to the calculator
