doctype html
html
   head
      title = "Result"
      style.
          body {
              font-size: 15px;
              text-align:center;
          }
   body
     h1 Your result is:
     td=result
     br
     br
     br

     a(href='/') Back to the homepage
